* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

header {
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.8);
}
.texts {
  font-size: 1.25rem;
}

.logo {
  width: 7%;
  min-width: 50px;
}

@media screen and (max-width: 689px) {
  .btn__nav {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
  }

  .btn__nav button {
    margin: 5px 0;
  }
}

.Trusted div ul li {
  margin: 0 10px;
  list-style: none;
}

.studyingNow {
  background-color: #fff2e1;
}
.t__orange {
  color: #f48c06;
}
.t__blue {
  color: #2f327d;
}
.title__home {
  /* font-size: 3.5rem; */
  font-size: 5.6vw;
  font-weight: bold;
}

/* trust */
.trusted__icon {
  margin: 0;
  padding: 0;
}
.trusted__icon ul {
  flex-wrap: wrap;
}
.trusted__icon ul li {
  max-width: 5rem;
}

/* CloudSoftware */

.title__CloudSoftware {
  font-size: 2.2rem;
  font-weight: bold;
}

.items__CloudSoftware {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
  min-width: 250px;
  text-align: justify;
}

.img__itemsCloudSoftware {
  /* position: absolute;
    top: -25%;
    left: 25%; */
}
.text__itemsCloudSoftware {
  /* margin: 20% 0 10% 0; */
  font-size: 1.8rem;
}

.text__itemsCloudSoftware2 {
  font-size: 1.25rem;
  display: inline-block;
  width: 100%;
  text-align: justify;
}

/* introduce */

.introduce {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img__introduce {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  min-height: 300px;
  margin: 0 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.introduce__bottom {
  justify-content: center;
  align-items: center;
}

.introduce__end {
  margin-top: 10%;
}

.introduce__end_items {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.introduce__end_items_img {
  width: 40%;
}

.introduce__end_icon1 {
  position: absolute;
  top: -3%;
  left: -3%;
  z-index: -1000;
}
.introduce__end_icon2 {
  position: absolute;
  bottom: -3%;
  right: -3%;
  z-index: -1000;
}

/* OurFeatures */
.OurFeatures {
  margin-top: 10%;
  margin-bottom: 5%%;
}

.OurFeatures_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
  width: 75%;
}

.OurFeatures_right__textIcon {
  display: flex;
  justify-content: start;
  align-items: center;
}

.OurFeatures_right__textIcon img {
  max-width: 100px;
}

.OurFeatures_right__img {
  width: 35%;
}

.btn_OurFeatures {
  color: #f48c06;
  border: 1px solid #f48c06 ;
}

.OurFeatures__tools {
  margin-top: 10%;
}

/*  */
.t_bold {
  font-weight: bold;
}

/* */
#ul_nav a {
  color: #5b5959;
  position: relative;
  margin: 0 10px;
  letter-spacing: 1px;
  text-decoration: none;
}

a::after {
  content: "";
  position: absolute;
  background-color: #ff6a00;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -4px;
  transition: all 0.3s ease;
  left: 50%;
}

.afterLink::after {
  width: 90%;
  left: 5%;
}

.afterLink {
  color: rgb(255, 133, 77);
}

/*  */
.text {
  font-size: 1.5rem;
  font-size: calc((100vw / 93) * 1.5);
}

.img__itemsCloudSoftware {
  width: 50%;
}

.CloudSoftware {
  margin-top: 10%;
}

.t__introduce__bottom {
  font-weight: bold;
  color: white;
}

.test {
  color: rgb(48, 48, 48);
}

.feedback {
  width: 100%;
  min-height: 200px;
  border-radius: 5%;
  /* max-height: 200px; */
  background-color: rgb(255, 255, 255);
  border-left: #f67766 5px solid;
  padding: 0 20px;
}

.text-container {
  max-height: 80px;
  overflow: auto;
  padding: 0 10px;
}

.text-container::-webkit-scrollbar {
  width: 2px;
  /* Độ rộng của thanh cuộn */
}

.text-container::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.5);
  /* Màu xám mờ */
  /* Viền xung quanh thanh cuộn */
  border-radius: 5px;
  /* Độ cong của gạch thanh cuộn */
}

.text-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(128, 128, 128, 0.7);
  /* Màu xám mờ khi di chuột qua */
}

.carousel-dark {
  width: 40%;
  overflow: hidden;
}

@keyframes rotatee {
  0% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}
/* #CloudSoftware_img img{
  animation: rotatee 2s linear infinite;
} */

@keyframes scalee {
  0% {
    transform: scaleX(0);
  }
  25% {
    transform: scaleX(-1);
  }
  50% {
    transform: scaleX(0);
  }
  75% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

/* btn */
@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.btn__home {
  color: white;
  min-width: 130px;
  min-height: 50px;
  font-family: 2rem;
  background-color: #f48c06;
  border-radius: 50px;
  border: 0;
  position: relative;
  z-index: 0;
}

.btn__home::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 102%;
  height: 104%;
  background-image: linear-gradient(var(--rotate), #ffff, #f48c06);
  z-index: -1;
  border-radius: 40px;
  /* box-shadow: 5px 5px 5px 5px ; */
  animation: spin 4s linear infinite;
}

.btn__home:hover::after {
  width: 0;
  height: 0;
}
/* .btn__home:hover {
  background-color: white;
  color: #feb248;
  border: 1px solid #feb248;
  box-shadow: 4px 4px 6px 0px #8a8a8a;
}
.btn__home:active {
  background-color: white;
  color: #feb248;
  border: 1px solid #feb248;
  box-shadow: inset 4px 4px 6px 0px #8a8a8a;
} */

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  50% {
    --rotate: 180deg;
  }

  100% {
    --rotate: 360deg;
  }
}

/* nav */

nav {
  padding: 10px 0;
}

.nav_container {
  display: flex;
  justify-content: end;
  align-items: center;
  margin: 0;
}

.nav_container li {
  list-style: none;
  margin: 0 0 0 25px;
  position: relative;
}

.nav_container li a {
  text-decoration: none;
  color: black;
}
.nav_containerTc li {
  list-style: none;
  margin: 0 0 0 25px;
}

.nav_containerTc li a {
  text-decoration: none;
  color: black;
}

.logo img {
  max-width: 100px;
  width: 30%;
  min-width: 70px;
}

.nav_containerTc {
  top: 10%;
  right: 0;
  position: fixed;
  z-index: 999;
  transform: translateX(100%);
  background-color: white;
  transition: all 0.3s linear;
  display: none;
}

.nav_containerTcOpen {
  transform: rotateX(0);

  box-shadow: -4px 3px 8px 0px #8d8d8d;
}

.nav_containerTc li {
  margin: 10px 0;
}

#openNav {
  display: none;
}

/* slider */
.feedback {
  left: 15%;
  bottom: 0;
}
.slider_icon {
  position: absolute;
  border: none;
  background: none;
  z-index: 999;
}
.slider_icon i {
  /* color: black; */
}
.slider_prev {
  left: 5%;
  /* bottom: 50%; */
  top: 200px;
}

.slider_next {
  right: 5%;
  /* bottom: 50%; */
  top: 200px;
}

.feedback {
  width: 100%;
  min-height: 200px;
  border-radius: 5%;
  /* max-height: 200px; */
  background-color: rgb(255, 255, 255);
  border-left: #f67766 5px solid;
  padding: 0 20px;
}

.text-container {
  max-height: 80px;
  overflow: auto;
  padding: 0 10px;
}

.text-container::-webkit-scrollbar {
  width: 2px;
  /* Độ rộng của thanh cuộn */
}

.text-container::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.5);
  /* Màu xám mờ */
  /* Viền xung quanh thanh cuộn */
  border-radius: 5px;
  /* Độ cong của gạch thanh cuộn */
}

.text-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(128, 128, 128, 0.7);
  /* Màu xám mờ khi di chuột qua */
}

.carousel-dark {
  width: 40%;
  overflow: scroll;
}

.slider_item {
  width: 400px;
  display: block !important;
  /* display: flex;
justify-content: center; */
}
.slider_item img {
  width: 400px;
}

.slide_buttons {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  z-index: 9999;
  bottom: 0;
}

a.slide_btn {
  text-decoration: none;
  color: #474544;
  font-size: 42px;
  margin: 0 0.175em;
  transition: all 0.4s ease-in-out;
}

.slide_btn.active,
.slide_btn:hover {
  color: #428cc6;
  cursor: pointer;
}
.Slider {
  transition: all 0.5s linear;
}

@media screen and (max-width: 756px) {
  .nav_container {
    display: none;
  }
  #openNav {
    display: block;
  }
  .nav_containerTc {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  /* .studyingNow{
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .studyingNow div{
    width: 100% !important;
  }
  .studyingNow_left{
    order: 1;
  }
  .text{
    font-size: 16px;
  } */
}

.btn_form {
  /* width: 15%; */
  border: none;
  background-color: #f48c06;
  padding: 10px 20px;
  color: white;
  box-shadow: 2px 3px 5px 0px #979797;
}
.btn_form:active {
  box-shadow: inset 2px 3px 5px 0px #979797;
}
form {
  width: 40%;
}
@media screen and (max-width: 956px) {
  .img_form {
    display: none;
  }
  form {
    width: 100% !important;
  }
  .form {
    justify-content: center;
  }
}

/* time */
.countdown {
  font-size: 24px;
  font-weight: bold;
}

/*  */
.studyingNow {
  /* border-radius: 0 0 30% 30%; */
}

@media screen and (max-width: 992px) {
  .title__home {
    font-size: 5.6vw;
  }

  .introduce__bottom {
    flex-direction: column;
  }

  .introduce__end {
    /* margin-top: 10%; */
    display: flex;
    flex-direction: column !important;
    align-items: center;
    /* justify-content: space-around; */
  }

  .introduce__end_items {
    width: 75%;
  }

  .introduce__end_items_img {
    max-width: 70%;
    min-width: 75%;
    margin-top: 5%;
  }

  .introduce__bottom {
    /* justify-content: center; */
    align-items: center;
  }

  .img__introduce {
    margin: 5% 0;
    min-width: 80%;
  }

  .OurFeatures_right {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10% 0;
  }

  .OurFeatures_right__img {
    order: 2;
    min-width: 80%;
  }

  .OurFeatures_right__text {
    text-align: center;
    text-wrap: nowrap;
  }

  .carousel {
    width: 75%;
    margin-top: 5%;
  }

  .about__body {
    flex-direction: column;
  }

  .about_bt_it {
    min-width: 80%;
    /* flex-direction: column; */
  }

  br {
    white-space: nowrap;
  }

  .about__bottom {
    width: 100%;
  }

  .about {
    max-width: 70%;
  }

  .OurFeatures_right {
    width: 100% !important;
  }

  .OurFeatures_right__text {
    width: 75% !important;
  }

  .OurFeatures_right__text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .introduce__top {
    width: 80%;
  }

  .studyingNow_left {
    margin-top: 10%;
  }

  .btn__home {
    width: 100px;
    height: 38px;
  }

  .text {
    font-size: 1.5rem;
  }

  .CloudSoftware {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .items__CloudSoftware {
    margin: 0 10px;
  }

  .studyingNow {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .studyingNow div {
    width: 100% !important;
  }

  .studyingNow_left {
    order: 1;
  }

  .text {
    font-size: 16px;
  }
}

@media screen and (max-width: 1200px) {
  .introduce__end {
    max-width: 80%;
    margin: 0 auto;
  }

  .about__body {
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }

  .about__body .about_left {
    width: 100% !important;
    display: flex;
  }

  .about__body .about_left img {
    width: 50%;
  }
}

/* video player */

/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");


.video-controls,
.video-timer,
.options {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_video {
  width: 98%;
  user-select: none;
  overflow: hidden;
  max-width: 900px;
  background: #000;
  aspect-ratio: 16 / 9;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.container.fullscreen {
  max-width: 100%;
  width: 100%;
  height: 100vh;
  border-radius: 0px;
}

.wrapper {

  position: absolute;
  left: 0;
  right: 0;
  z-index: 999;
  opacity: 0;
  bottom: -15px;
  transition: all 0.08s ease;
}

.container_video:hover .wrapper {
  opacity: 1;
  /* bottom: 0; */
  transition: all 0.13s ease;
}

.wrapper::before {
  content: "";
  bottom: 0;
  width: 100%;
  z-index: 0;
  position: absolute;
  height: calc(100% + 35px);
  pointer-events: none;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
}

.video-timeline {
  height: 7px;
  width: 100%;
  cursor: pointer;
}

.video-timeline .progress-area {
  height: 3px;
  position: relative;
  background: rgba(255, 255, 255, 0.6);
}

/* .progress-area span {
    position: absolute;
    left: 50%;
    top: -25px;
    font-size: 13px;
    color: #fff;
    pointer-events: none;
    transform: translateX(-50%);
} */

.progress-area .progress-bar {
  width: 0%;
  height: 100%;
  position: relative;
  background: #2289ff;
}



.wrapper .video-controls {
  padding: 5px 20px 10px;
}

.video-controls .options {
  width: 100%;
}

.video-controls .options:first-child {
  justify-content: flex-start;
}

.video-controls .options:last-child {
  justify-content: flex-end;
}

.options button {
  height: 40px;
  width: 40px;
  font-size: 19px;
  border: none;
  cursor: pointer;
  background: none;
  color: #efefef;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.options button :where(i, span) {
  height: 100%;
  width: 100%;
  line-height: 40px;
}

.options button:hover :where(i, span) {
  color: #fff;
}

.options button:active :where(i, span) {
  transform: scale(0.9);
}

.options button span {
  font-size: 23px;
}

.options input {
  height: 4px;
  margin-left: 3px;
  max-width: 75px;
  accent-color: #0078ff;
}

.options .video-timer {
  color: #efefef;
  margin-left: 15px;
  font-size: 14px;
}

.video-timer .separator {
  margin: 0 5px;
  font-size: 16px;
  font-family: "Open sans";
}

.playback-content {
  display: flex;
  position: relative;
  z-index: 99;
}

.container video {
  width: 100%;
}

@media screen and (max-width: 540px) {
  .wrapper .video-controls {
    padding: 3px 10px 7px;
  }

  .options input,
  .progress-area span {
    display: none !important;
  }

  .options button {
    height: 30px;
    width: 30px;
    font-size: 17px;
  }

  .options .video-timer {
    margin-left: 5px;
  }

  .video-timer .separator {
    font-size: 14px;
    margin: 0 2px;
  }

  .options button :where(i, span) {
    line-height: 30px;
  }

  .options button span {
    font-size: 21px;
  }

  .options .video-timer,
  .progress-area span,
  .speed-options li {
    font-size: 12px;
  }

  .playback-content .speed-options {
    width: 75px;
    left: -30px;
    bottom: 30px;
  }

  .speed-options li {
    margin: 1px 0;
    padding: 3px 0 3px 10px;
  }

  .right .pic-in-pic {
    display: none;
  }
}

.link_foodter{
  padding: 0;
}

.link_foodter li{
  text-align: center;
  list-style: none;
  margin: 0 15px;
}

footer{
  position: relative;
}

footer::after{
  content: "© 2021 Class Technologies Inc. ";
  position: absolute;
  bottom: 0;
  /* left: 50%; */
  color: white;

}